.con{
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15%;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    
}
.inp{
    align-items: flex-start;
    flex: 1;

}
